* {
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
  }
  
  html,
  body {
    margin: 0;
    padding: 0;
  }
  
  /* Add styles here! */
  body {
    height: 100%;
  }

header, main {
    min-height: 50%;
    
}

header {
    border-bottom: 8px solid hsl(0deg, 0%, 40%);
}

main {
    background-color: hsl(0deg, 0%, 60%);
}

strong {
    color: hsl(160deg, 100%, 30%);
}

.max-width-wrapper {
    margin: 0 auto;
    max-width: 640px;
    padding-top: 64px;
    padding-bottom: 64px;
}

.intro-chunk p {
    font-size: 1.25rem;
    width: 60%;
}

.title {
    padding-left: 16px;
    font-size: 2rem;
}

.card {
    background-color: #fff;
    padding-top: 16px;
    border-bottom: 8px solid hsl(0deg, 0%, 40%);
}

.indented-heading {
    font-size: 1.25rem;
    margin: 0 0 0 -24px;
    background-color: hsl(45deg, 100%, 50%);
    border-bottom: 8px solid hsl(45deg, 100%, 40%);
    width: max-content;
    padding: 24px 40px;
}

p {
    margin: 0;
    padding: 16px;
}